.eighty { width: 80%; }
.twenty { width: 20%; }
.inlineblock { display: inline-block; }
.vmid { vertical-align: middle; }
.vtop { vertical-align: top; }
.text_center { text-align: center; }
.relative { position: relative; }
.absolute { position: absolute; }
.all { left: 0; bottom: 0; right: 0; top: 0; }
.autom { margin: auto auto auto auto; }
.block { display: block; }

.ScreenLeft, .ScreenRight{
  display: inline-block;
  vertical-align: top;
}
.ScreenLeft { width: 80%; }
.ScreenRight { width: 20%; }

.CommonDiv {
  display: inline-block;
  height: 315px;
  position: relative;
}

.Pile, .Deck {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.Deck { width: 240px; }
.Pile { width: 580px; }

.Card {
  width: 225px;
  height: 315px;
  position: absolute;
  z-index: 300;
  border-radius: 9px;
  background: #fff;
  border: solid 1px #444;    
}
.Card .CardInner {
  width: 225px;
  height: 315px;
  line-height: 315px;  
  position: relative;
  text-align: center;  
}
.Card .CardInner * { line-height: 1; }
.Card .CardInner.FaceDown { background: red; }
.CardMark {
  position: absolute;
  width: 40px;
}
.CardMark .Icon { font-size: 40px; }
.CardMark .Spades,
.CardMark .Clubs { color: black; }
.CardMark .Hearts,
.CardMark .Diamonds { color: red; }

.PlayerCards { 
  display: inline-block; 
  vertical-align: top;
  width: 225px; 
  height: 315px; 
  line-height: 350px;  
  border: solid 1px #eee;
}
.PlayerCards.active { border: solid 1px green; }
.PlayerCards * { line-height: 1; }