.eighty { width: 80%; }
.twenty { width: 20%; }
.inlineblock { display: inline-block; }
.vmid { vertical-align: middle; }
.vtop { vertical-align: top; }
.text_center { text-align: center; }
.relative { position: relative; }
.absolute { position: absolute; }
.all { left: 0; bottom: 0; right: 0; top: 0; }
.autom { margin: auto auto auto auto; }
.block { display: block; }

.ScreenLeft, .ScreenRight{
  display: inline-block;
  vertical-align: top;
}
.ScreenLeft { width: 80%; }
.ScreenRight { width: 20%; }

.CommonDiv {
  display: inline-block;
  height: 105px;
  position: relative;
}

.Pile, .Deck {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.Deck { width: 80px; }
.Pile { width: 105px; }

.Card {
  width: 75px;
  height: 105px;
  position: absolute;
  z-index: 300;
  border-radius: 4px;
  background: #fff;
  border: solid 1px #444;
  overflow: hidden;
  box-shadow: 0 0 5px #999;
}
.Card .CardInner {
  width: 75px;
  height: 105px;
  line-height: 105px;  
  position: relative;
  text-align: center;  
}
.Card .CardInner * { line-height: 1; }
.Card .CardInner.FaceDown { background: royalblue; }
.CardMark {
  position: absolute;
  width: 15px;
  font-size: 15px;
}
.CardMark .Spades,
.CardMark .Clubs { color: black; }
.CardMark .Hearts,
.CardMark .Diamonds { color: red; }
.CardMark.left {
  left: 5px;
  top: 10px;  
  right: auto;
  bottom: auto;
}
.CardMark.right {
  left: auto;
  top: auto;
  bottom: 10px;
  right: 10px;
}
.CardMark .Icon { font-size: 18px; }

.PlayerCards { 
  vertical-align: top;
  border: solid 1px #eee;
  height: 180px;
  margin-bottom: 10px;
  position: relative;
}
.PlayerCards * { line-height: 1; }
.PlayPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80px;
  margin-top: -40px;
  margin-left: -100px;
  width: 200px;
}
.PlayPopUp > div {
  display: inline-block;
  margin: 0 4px;
}